<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../../styles/profesor/admin.css">
    <title>profesor</title>
</head>

<body>
    <header class="site-header">

        <nav>
            <ul>
                <li><button class="button" onclick="window.location.href='../../controllers/profesores/perfil.php'">Perfil</button></li>
                <li><button class="button" onclick="window.location.href='../../controllers/profesores/historial_asistencia_alumno.php'">Historial asistencias</button></li>
                <li><button class="button" onclick="window.location.href='../../controllers/profesores/matriculas.php'">Asistencia</button></li>
                <li><button class="button" onclick="window.location.href='../../controllers/profesores/asignacion_profesor.php'">Grupos y Materias</button></li>
                <li><button class="button" onclick="window.location.href='../../controllers/profesores/comentarios.html'">Comentarios</button></li>
                <li><button class="button" onclick="window.location.href='../../controllers/profesores/profesor_comentarios.php'">Respuestas</button></li>
                <li><button class="button" onclick="window.location.href='../../controllers/profesores/logout.php'">Salir</button></li>
                
            </ul>
        </nav>
    </header>
    <br>
    <br>
    <div class="content" style="color: white;">
        <h1>Bienvenido, profesor todo un gusto</h1>
        <br>
        <br>
        <div>
            <a href="#">
                <img src="../../images/PROF.jpg" alt="Site Name" width="400" height="300"/>
            </a>
        </div>
    </div>
</body>

</html>
